@font-face {
  font-family: poppins;
  src: url("../fonts/poppins/poppins-bold-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: poppins;
  src: url("../fonts/poppins/poppins-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: poppins;
  src: url("../fonts/poppins/poppins-medium-webfont.woff") format("woff");
  font-style: normal;
}
@font-face {
  font-family: poppins;
  src: url("../fonts/poppins/poppins-light-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color_C90000: #c90000;
  --color_7D7C7C: #7d7c7c;
  --color_F1F1F1: #f1f1f1;
  --color_504F4F: #504f4f;
  --color_323232: #323232;
  --color_FFC300: #ffc300;
  --color_FFf6A3: #fff6a3;
  --color_E3E3E3: #e3e3e3;
  --color_FFFDE6: #fffde6;
}

body {
  font-family: poppins;
}

.main__header {
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0.5rem;
}
.navigation {
  display: grid;
  grid-template-columns: 54px 635px 187px;
  justify-content: space-between;
  align-items: center;
}
.logo__container {
  width: 54px;
  height: 56px;
}
.logo {
  width: 100%;
  height: 100%;
}
.menu__container {
}
.menu {
  display: flex;
  justify-content: start;
  align-items: center;
  list-style-type: none;
  gap: 48px;
}
.menu_link {
}

.menu__btns {
  text-decoration: none;
  font-family: poppins;
  font-size: 16px;
  font-weight: 600;
  color: var(--color_7D7C7C);
}
.btn1 {
  font-family: poppins;
  font-weight: 600;
  font-size: 16px;
  color: var(--color_C90000);
}

.header__btns {
  display: flex;
  gap: 10px;
}
.sign__btn {
  text-decoration: none;
  border: 1px solid var(--color_C90000);
  padding: 8px 16px 8px 16px;
  color: #c90000;
  border-radius: 100px;
  font-family: poppins;
  font-size: 16px;
  font-weight: 400;
}
.log__btn {
  text-decoration: none;
  color: white;
  background-color: var(--color_C90000);
  border: 1px solid var(--color_C90000);
  padding: 8px 16px 8px 16px;
  border-radius: 100px;
  font-family: poppins;
  font-size: 16px;
  font-weight: 400;
}

.close {
  display: none;
}
.header__icon {
  display: none;
}
.menu__container1 {
  z-index: 100;
}
#input__menu:checked + label + .menu__container1 {
  left: 0;
}
#input__menu:checked + label svg:first-child {
  display: none;
}

#input__menu:checked + label .close {
  display: block;
  cursor: pointer;
}



.buttom__header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.left__content__container {
  width: 86%;
}
.left__content__container h1 {
  line-height: 3.8rem;

  font-weight: 500;
  font-size: 48px;
  color: var(--color_C90000);
}
.left__content__container h1 + p {
  max-width: 75%;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color_504F4F);
}
.total__order__container {
  margin-top: 40px;
  color: var(--color_323232);
}
.total__order__container span:first-child {
  font-size: 1rem;
  font-weight: 600;
}
.order__section {
  margin-top: 12px;
  display: flex;
  gap: 40px;
 
}
.order__btns__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 100px;
  background-color: #ffffff;
  box-shadow: 0px 5px 17px 2px #7090b033;
  padding: 5px 16px;
}
.order__btns__container button:first-child {
  outline: none;
  border: none;
  background-color: white;
  border-right: 1px solid grey;
  padding-right: 8px;
}
.order__btns__container button:last-child {
  outline: none;
  border: none;
  background-color: white;
  border-left: 1px solid gray;
  padding-left: 8px;
}
.order__now {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 12px;
  background-color: var(--color_FFC300);
  border-radius: 100px;
  box-shadow: 0px 20px 20px 2px #7090b033;
}
.right__content__container {
  position: relative;
}
.img__container {
}
.img__container img {
  width: 100%;

  object-fit: cover;
}
.delivery {
  position: absolute;
  top: 74px;
  left: -94px;
  background-color: var(--color_F1F1F1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 12px;
}
.delivery div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.delivery div:last-child {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  color: var(--color_7D7C7C);
}

.order__section__mobile{
  display: none;
}


/* main section style */

.main__title__container h3:first-child{
text-transform: uppercase;
font-size: 48px;
color: var(--color_C90000);
font-weight: 100;

}
.main__title__container{
  width: max-content;
  position: relative;
}
.shadow{
  position: absolute;
  width: 100%;
  min-height: 9px;
  background-color: #fff6a3;
  bottom: 5px;
  z-index: -1;

}

.main__section__btns{
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  gap: 20px;
overflow-x: auto;

}
.main__section__btns button:first-child{
  background-color: var(--color_FFC300);
}
.main__btn{
  min-width: 154px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 20px;
  border: 1px solid var(--color_F1F1F1);
  background-color: var(--color_E3E3E3);
  border-radius: 100px;



}


.main__carts__container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  grid-gap: 30px;


}
.cart{
  border-radius: 12px;
  padding: 1rem;
  border: 1px solid var(--color_E3E3E3);

}
.main__img__container{
  margin-bottom: 1.5rem;
  position: relative;
  text-align: center;

}
.background{
  z-index: -1;
  position: absolute;
  bottom: -15px;
  width: 100%;
  height: 105px;
  background-color: var(--color_FFFDE6);
}
.product__details h3{
font-size: 20px;
font-weight: 100;
}


.product__details p{
  font-size: 14px;
  font-weight: 600;
  color: var(--color_504F4F);
  margin-top: 5px;
}

.score{
  margin-top: 6px;
  display: flex;
  align-items: center;

}
.score span{
  color: var(--color_7D7C7C);
  font-size: 14px;
  font-weight: 600;
  padding-top: 4px;
}
.price__section{
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.buy__icon{
  background-color: var(--color_C90000);
  border: none;
  border-radius: 8px;
  padding: 5.4px;

}

/* off section */

.see__all__link{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  
}
.see__all__link a {
  color: #504f4f;
}
.off__section__title{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}



.off__section__container{
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  grid-gap: 20px;
  justify-content: center;

}
.off__sali__box{
  overflow: hidden;
  background-color: var(--color_F1F1F1);
  border: 1px solid var(--color_E3E3E3);
  border-radius: 20px;
  padding: 36px 0 36px 28px;
  position: relative;

}
.left__off__sale__content{
  height: 170px;

}
.fast__bar__container{
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 100%;

}
.fast__bar__container span{
  font-size: 16px;
  color: var(--color_323232);
  font-weight: 600;
}
.fast__bar__container div{
  width: 72%;
  height: 2px;
  background-color: #d6d6d6;

}
.left__off__sale__content h3{
  margin-top: 5px;
  font-size: 28px;
  color: #c90000;
  font-weight: 100;
  margin-bottom: 4px;
}

.left__off__sale__content p {
  color: var(--color_504F4F);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 2px;
}
.price{
  margin-top: 12px;
  margin-bottom: 41px;
}
.price span:first-child{
  font-weight: 600;
  text-decoration:line-through ;
  color: var(--color_7D7C7C);
}
.price span:last-child{
  font-size: 24px;
  color: var(--color_C90000);
}
.order__btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color_504F4F);
  padding: 8px 12px;
  gap: 8px;
  border-radius: 20px;
  border: none;
  color: white;

}
.off__sail__img__container{
  max-width: 290px;
  max-height: 217px;
  position: absolute;
  right: -59px;
  top: 85px;
 
}

.off__sali__box:hover{
  transform: scale(1.1);
  background-color: #D62822;
}


.off__sali__box:hover>div>div>span{
  color: white;
}


.off__sali__box:hover>div p{
  color: var(--color_FFC300);
}

.off__sali__box:hover>div h3{
  color: var(--color_FFC300);
}
.off__sali__box:hover>div div:last-child span:first-child{
  color: wheat;
}
.off__sali__box:hover>div div:last-child span:last-child{
  color: var(--color_FFC300);
}

.off__sali__box:hover button{
  background-color: #FFFDE6;
  color: var(--color_323232);
}


.off__sali__box:hover button svg path{
  fill: #323232;
}



.mobile__app__section{
  grid-column-gap:3rem ;
  background-color:var(--color_F1F1F1);
  border: 1px solid var(--color_E3E3E3);
  border-top-right-radius: 500px;
  border-bottom-right-radius: 500px;
  max-width: 97%;
  margin-top: 150px;
  display: grid;
  grid-template-columns: 28% 50%;
  justify-content: center;
  align-items: center;
}
.mobile__app__img__container{
  transform: scale(1.2);
  position: relative;
  height: 100%;
top: -20px;

}
.mobile__app__img__container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mobile__app__right__content__container{

}
.mobile__app__right__content__container h6{
  margin-bottom: 10px;
  font-size: 20px;
  color: #7d7c7c;
}


.mobile__app__right__content__container h2{
  margin-bottom: 18px;
  font-size: 45px;
  color: var(--color_C90000);
  font-weight: 100;
}
.mobile__app__right__content__container p{
  font-size: 16px;
  color: #323232;
  font-weight: 600;

}


.mobile__app__right__content__container div{

  display: flex;
  gap: 20px;
  margin-top: 30px;

}

.mobile_section__img{
  width: 100%;
}


.location__section{
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 120px;
  background-color: var(--color_323232);
  border-radius: 20px;
}
.location__text{
  text-align: center;
  padding-top:100px 

}
.location__text h2{
  color: white;
  font-size: 48px;

}
.location__text p{
  font-size: 16px;
  color: var(--color_F1F1F1);
  margin-top: 1rem;

}
.location_input{
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
  
  
  margin-top: 20px;
  background-color: #ffc300;
  width: 45%;
  border-radius: 100px;
  margin-bottom: 110px;


}
.location_input input:first-child{
  background-color: var(--color_FFC300);
  width:72%;
  outline: none;
  border: none;
  padding:0 2rem;

}
.location_input input:last-child{

  background-color: #FFEAE6;
  border: none;
  padding: 16px 24px;
  border-radius: 100px;
  margin: 5px;

}

.loc__img_container{
  width: 150px;
  position: absolute;
  left: 0;

}

.loc__img_container img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.loc2__img_container{
  width: 150px;
  position: absolute;
  bottom: 0;
  left: 190px;

}
.loc2__img_container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.footer__wrapper{
  margin-top: 4rem;
  background-color: var(--color_FFFDE6);

}
.footer__content__container{
  align-items: center;
  justify-items: center;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));

}
.first__footer__content{
display: flex;
flex-direction: column;
align-items: center;
}
.logo__title__container{
  display: flex;
justify-content: center;
align-items: center;
gap: 20px;
}


.logo__title__container span{
  font-size: 32px;
  color: var(--color_323232);
  font-weight: 100;
}


.footer__img__container{

}
.footer__logos__container{
  margin-top: 1.5rem;
  display: flex;
gap: 3rem;
}
.second__footer__content{
  margin-bottom: 2rem;
}
.second__footer__content h2{
  padding-top: 2.5rem;
  padding-bottom: 1.8rem;
font-size: 20px;
font-weight: 100;
color: var(--color_323232);
}
.footer__links{
  list-style-type: none;



}

.footer__links li a {
  text-decoration: none;
  color: #323232;
  font-weight: 600;
  line-height: 1.5rem;
}
.third__footer__content h2{
  padding-bottom: 1.8rem;
font-size: 20px;
font-weight: 100;
color: var(--color_323232);

}
.working__time li {
  list-style-type: none;
  color: #323232;
  font-weight: 600;
  line-height: 1.5rem;


}